<div th:fragment="footer">
  <div class="container fixed-bottom">
    <div class="py-3">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="/civilizations" class="nav-link px-2 text-muted">Civilizations</a></li>
        <li class="nav-item"><a href="/units" class="nav-link px-2 text-muted">Units</a></li>
        <li class="nav-item"><a href="/technologies" class="nav-link px-2 text-muted">Technologies</a></li>
        <li class="nav-item"><a href="/resources" class="nav-link px-2 text-muted">Resources</a></li>
        <li class="nav-item"><a href="/fag" class="nav-link px-2 text-muted">FAQ</a></li>
        <li class="nav-item"><a href="/feedback" class="nav-link px-2 text-muted">Feedback</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 Company, Inc</p>
    </div>
  </div>
</div>